.admin--header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #151f30;
    z-index: 100;
    transition: 0.5s ease;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        position: relative;
        padding: 0 15px;
    }

    &__logo {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 70px;
        background-color: #151f30;
        width: 80%;
    }

    &__btn {
        position: absolute;
        width: 24px;
        height: 22px;
        display: block;
        right: 15px;
        top: 24px;

        span {
            position: absolute;
            right: 0;
            width: 24px;
            height: 2px;
            background-color: #fff;
            border-radius: 2px;
            transition: 0.5s;
            opacity: 1;

            &:first-child {
                top: 0;
            }

            &:nth-child(2) {
                top: 10px;
                width: 16px;
            }

            &:last-child {
                top: 20px;
                width: 8px;
            }
        }

        &--active {
            span {
                background-color: #2f80ed;

                &:first-child {
                    transform: rotate(45deg);
                    top: 9px;
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    width: 24px;
                    transform: rotate(-45deg);
                    top: 9px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .admin--header {
        display: none;
    }
}
