.user_groups {
  margin-top: 70px;

  &-title {
    font-size: 36px;
    // text-align: left;
    margin-left: 300px;
    color: #fff;
  }

  .ant-form-item-label > label {
    color: #fff !important;
  }
  // &-fie {
  // }
}
