.modal-delete {
    .ant-modal-content {
        padding: 20px;
        border-radius: 16px;
        background-color: #151f30;
        text-align: center;

        .ant-modal-header {
            padding: 0;
            color: #fff;
            background: inherit;
            border-bottom: none;
            margin-bottom: 15px;

            .ant-modal-title {
                color: #fff;
                font-size: 28px;
                line-height: 100%;
            }
        }

        .ant-modal-body {
            padding-bottom: 0;
        }

        .ant-modal-footer {
            border-top: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .modal-btn {
                width: calc(50% - 15px);
                height: 40px;
                border-radius: 16px;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 500;
                
                &__delete {
                    color: #e0e0e0;
                    background: #2f80ed;
                    border-color: #2f80ed;
                }
                
                &__cancel {
                    border-color: #fff;
                    background: #fff;
                    color: #000;
                }
            }
        }
    }
}
